<div class="main-cont-wrapper">
    {{#link-to 'mainrouter.childrouter' main.id}}
        <div class="border-wrap ">
        <div class="labelText"> 
            <h3>{{main.label}}</h3></div>
        </div>
    {{/link-to}}
</div>
